.MaskPage {
  width: 100%;
  height: 100vh;
  background: white;
  opacity: 0.95;
  position: fixed;
  top: 0;
  z-index: 0;
}

.QuestionPopUp {
  width: 60%;
  height: 60vh;
  margin: 15vh auto 0 auto;
  border: 1px solid orange;
  border-radius: 20px;
  background: white;
  z-index: 10;
  opacity: 1;
}
