h1 {
  color: #f56b2a;
  margin: 5% 0 5% 0;
  text-align: center;
}

#root {
  padding-bottom: 3%;
}

.buttonhome {
  color: #003333;
  display: block;
  font-size: 1.5em;
  height: 80px;
  margin: 14px 7px 0px 7px;
  width: 300px;
  transition: 0.3s;
}

.buttonhome:hover {
  background: #f56b2a;
  color: white;
}

.wrapButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
}
