.ValideBtn {
  background: white;
  border: 2px solid #f56b2a;
  border-radius: 15px;
  cursor: pointer;
  width: 200px;
  height: 60px;
  transition: 0.3s;
  margin-top: 20px;
}

.ValideBtn:hover {
  background: #f56b2a;
  color: white;
}

.space {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ChapterBorder {
  border: 2px solid #f56b2a;
  border-radius: 10px;
  display: flex;
  height: 120px;
  justify-content: space-between;
  line-height: 60px;
  margin-top: 15px;
  transition: 0.3s;
  width: 800px;
}

.ChapterBorder:hover {
  box-shadow: 5px 5px 2px 1px rgba(211, 211, 211, 0.7);
}
