.ValideBtn {
  width: 200px;
  height: 60px;
  transition: 0.3s;
  margin-top: 20px;
}

.ValideBtn:hover {
  background: #f56b2a;
  color: white;
}

.space {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ChapterBorder {
  border: 2px solid #f56b2a;
  border-radius: 10px;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  transition: 0.2s;
  width: 800px;
}

.ChapterBorder:hover {
  box-shadow: 5px 5px 2px 1px rgba(211, 211, 211, 0.7);
}

.p_chapter {
  font-size: 25px;
  font-weight: 400;
}

.p_explication {
  color: grey;
  font-style: italic;
  margin: 42px 30px 50px 30px;
  text-align: center;
  width: 50%;
}
