.mask {
  height: 100vh;
  background: rgba(68, 64, 64, 0.8);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.popup {
  background: white;
  border: 2px solid #f56b2a;
  border-radius: 15px;
  height: auto;
  padding: 60px 0px 60px 0px;
  width: 30%;
}

.textSpan {
  font-size: 20px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btnValider {
  background: white;
  border: 2px solid #f56b2a;
  border-radius: 15px;
  cursor: pointer;
  width: 120px;
  height: 60px;
  color: #003333;
  font-weight: 400;
  font-size: 22px;
  margin-top: 20px;
}

.inputPopUp {
  width: 70%;
  height: 70px;
  border: 1px solid #f56b2a;
  margin-top: 20px;
}
